.row
  .col-sm-6
    = link_to 'Prev', 'javascript:void(0)', class: 'btn btn-warning btn-block'
  .col-sm-6
    = link_to 'Next and paint', 'javascript:void(0)', class: 'btn btn-warning btn-block'
.row
  .col-sm-12
    - running = Redis.new.get('running')
    = link_to 'Run', 'javascript:void(0)', class: 'btn btn-danger btn-block', id: 'run', onclick: 'onRun()', style: "#{running ? 'display: none;' : ''}"
    = link_to 'Stop', 'javascript:void(0)', class: 'btn btn-danger btn-block', id: 'stop', onclick: 'onStop()', style: "#{running ? '' : 'display: none;'}"