- layer_id = params[:layer]
.row
  .col-md-9
    %h5
      =@image.name
    -#%object{data: @layer, type: 'image/svg+xml', id: 'svg'}
    .svg#svg
      -#%svg(width="200" height="200" viewBox="0 0 200 200")
      = @layer.html_safe
  .col-md-3
    .row
      %h5
        = layer_id || ''
      .btn-group.btn-block.btn-group-vertical(role="group" aria-label="Layers")
        = link_to 'Whole image', root_path, class: layer_id.nil? ? 'btn btn-dark btn-sm btn-block' :'btn btn-secondary btn-sm btn-block'
        .btn-group(role="group")
          %button.btn.btn-secondary.btn-sm.dropdown-toggle#ibtnGroupDrop(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
            Layers
          .dropdown-menu(aria-labelledby="btnGroupDrop")
            - @image.layers.keys.each do |layer_name|
              - current = (layer_id.present? and layer_id == layer_name) ? ' font-weight-bold' : ''
              = link_to layer_name, root_path(layer: layer_name), class: 'dropdown-item btn btn-sm' + current

        %hr
        - unless layer_id.nil?
          = link_to 'Build', build_path(layer: layer_id), class: 'btn btn-info'
          = link_to 'Simulate', 'javascript:void(0)', class: 'btn btn-info', onclick: "paint(#{@velocity})"
        %hr
        = link_to 'Settings', nil, class: 'btn btn-light'
        = link_to 'Calibration', nil, class: 'btn btn-secondary'
    .row
    = render('status')
    .row
    = render('joystick')
