= javascript_include_tag 'pages'
= javascript_include_tag 'paint'

.alert.alert-danger#alert{style: 'display: none;'}
  %p
    Wrong canvas size.
  %p
    canvas_size_x =
    %span#canvas_size_x
      #{Config.canvas_size_x.to_i}
  %p
    initial_x =
    %span#initial_x
      #{Config.initial_x.to_i},
    initial_y =
    %span#initial_y
      #{Config.initial_y.to_i}
  %p
    svg size =
    %span#svg_size
      0


- layer_id = params[:layer]
.row
  .col-md-9
    %h5
      =@image.name
    -#%object{data: @layer, type: 'image/svg+xml', id: 'svg'}
    .svg#svg
      -#%svg(width="200" height="200" viewBox="0 0 200 200")
      = @layer.html_safe
  .col-md-3
    .row
      %h5
        - layer_id ||= ''
        = layer_id
      .btn-group.btn-block.btn-group-vertical(role="group" aria-label="Layers")
        .btn-group(role="group")
          %button.btn.btn-secondary.btn-sm.dropdown-toggle#images(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
            = 'Image: ' + @image.name
          .dropdown-menu(aria-labelledby="images")
            - @images.each do |image_name|
              - current = (image_name == @image.name) ? ' font-weight-bold' : ''
              = link_to image_name, image_path(image: image_name), class: 'dropdown-item btn btn-sm' + current


        .btn-group(role="group")
          %button.btn.btn-secondary.btn-sm.dropdown-toggle#ibtnGroupDrop(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
            = 'Layer: ' + layer_id
          .dropdown-menu(aria-labelledby="btnGroupDrop")
            = link_to 'Whole image', root_path, class: 'dropdown-item btn btn-sm'
            %hr
            - @image.layers.keys.each do |layer_name|
              - current = (layer_id == layer_name) ? ' font-weight-bold' : ''
              = link_to layer_name, root_path(layer: layer_name), class: 'dropdown-item btn btn-sm' + current

        %hr
        - unless layer_id.nil?
          = link_to 'Build', build_path(layer: layer_id), class: 'btn btn-info', style: "#{layer_id.empty? ? 'display: none;' : ''}"
          = link_to 'Simulate', 'javascript:void(0)', class: 'btn btn-info', onclick: "paint(#{@velocity})"
        %hr
        = link_to 'Settings', settings_path, class: 'btn btn-light', target: '_blank'
        = link_to 'Calibration', nil, class: 'btn btn-secondary'
    .row
    = render partial: 'status', locals: {layer_id: layer_id}
    .row
    = render partial: 'joystick'
