%h5
  = motor
.row
  .col-6
    %h5 Manual control, mm
    .form-group
      .row
        .col-12
          =link_to 'up', 'javascript:;', class: "btn btn-secondary", id: "up-#{motor}"
      .row
        .col-12
          =text_field_tag "value_#{motor}", '10.0', class: 'form-control', id: "value-#{motor}"
      .row
        .col-12
          =link_to 'down', 'javascript:;', class: "btn btn-secondary", id: "down-#{motor}"

%hr
.row
  .col-12
    %h5 This position corresponds to, mm
    = form_tag adjust_path, class: 'form-inline' do
      .form-group.mb-2
        =text_field_tag motor, belt_length, class: 'form-control'
      =submit_tag 'adjust', class: 'btn btn-secondary mb-2', method: :post
