!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title P6
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'#, 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application'#, 'data-turbolinks-track': 'reload'
  %body
    .container-fluid
      .alert.alert-danger#alert{style: 'display: none;'}
        %p
          Wrong canvas size.
        %p
          canvas_size_x =
          %span#canvas_size_x
            #{Config.canvas_size_x.to_i}
        %p
          initial_x =
          %span#initial_x
            #{Config.initial_x.to_i},
          initial_y =
          %span#initial_y
            #{Config.initial_y.to_i}
        %p
          svg size =
          %span#svg_size
            0
      = yield